{% extends "blog/base/base.html" %}
{% load static %}
{% block head %}
    <title>{{ menu_contents.0.menu_title }}</title>
    <style>
        .main-content {
            padding: 20px;
            text-align: center;
        }
        body.dark .main-content {
            padding: 20px;
            text-align: center;
            color: white;
        }

        .menu_content {
            padding: 20px;
            -webkit-column-gap: 2rem;
            -moz-column-gap: 2rem;
            column-gap: 2rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .menu_content > .category {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 33%;
            flex: 0 0 33%;
            justify-content: center;
            max-width: calc(33.33333% - 1.33333rem);
            width: 100%
        }

        .category {
            font-size: 20px;
            border-color: #0f0f0f;
            border-style: solid;
            padding: 2rem;
            margin-top: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .category a {
            text-decoration: none ;
            color: #0f0f0f;
        }
        body.dark .category {
            font-size: 20px;
            border-color: #ffffff;
            border-style: solid;
            padding: 2rem;
            margin-top: 20px;
        }
        body.dark .category a{
            color: #2997ff;
        }
        .category a:hover {
            opacity: 0.8;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>{{ menu_contents.0.menu_title }}</h1>
    <div class="menu_content">
        {% for menu_item in menu_contents %}
            <div class="category">
                <i class="bi bi-file-earmark-text"></i>
                    {%if menu_item.body%}
                <a href="{{ menu_item.url }}">{{ menu_item.content_title }}</a>
                {% else%}
                <a href="{{ menu_item.file.url }}" target="_blank">{{ menu_item.content_title }}</a>
                {%endif%}
            </div>
        {% endfor %}
    </div>
{% endblock %}
