{% extends "blog/base/base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
  {% for post in posts %}
    <div class="post-content">
      <div class="post-images">
        {% if post.images.first %}
                <img src="{{ post.images.first.image.url }}" width=100% alt="Image for {{ post.title }}">
            {% endif %}
      </div>
      <div class="post-text">
        <h2>{{ post.title }}</h2>
        <p>Published on: {{ post.publish }}</p>
        <p>{{ post.body|truncate_at_last_dot:30 }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}  

