{% extends "blog/base/base.html" %}
{% load static %}
    {% block head %}
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <style>
            .post-content {
                display: block;
                max-width: 100%;
            }
            .publish {
            padding-left: 20px;
            padding-top: 20px;
        }

            .post-title {
                text-align: center;
            }
    
            .post-body {
                padding: 20px;
                text-align: left;
                font-size: 18px;
                line-height: 1.5;
            }
            .swiper {
            height: 500px;
          }
        .swiper-slide {
            background: #ccc;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .swiper-slide img {
            height: 100%;
        }
        </style>

    {% endblock %}

{% block content %}
    <div class="post-content">
        <div class="post-title">
            <h1>{{ post.title }}</h1></div>
        <div class="publish"> Опубліковано {{ post.author }} о {{ post.publish }}</div>
        <div class="post-body">
            {{ post.body|linebreaksbr }}
        </div>
        <div class="swiper mySwiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->

          {% for image in post.images.all %}
            <div class="swiper-slide"><img src="{{ image.image.url }}" alt=""></div>
            {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "cube",
            grabCursor: true,
            cubeEffect: {
              shadow: true,
              slideShadows: true,
              shadowOffset: 20,
              shadowScale: 0.94,
            },


        // If we need paginatioчn
        pagination: {
          el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },


      });</script>
{% endblock %}