{% extends "blog/base/base.html" %}
{% load static %}
    {% block head %}
    <title>{{post.title }}</title>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <style>
            .post-content {
                display: block;
                max-width: 100%;
            }
            .publish {
            padding-left: 20px;
            padding-top: 20px;
        }

            .post-title {
                text-align: center;
            }
    
            .post-body {
                padding:50px;
                text-align: left;
                font-size: 18px;
                line-height: 1.5;
            }
            .swiper {
            height: 500px;
          }
        .swiper-slide {
            background: transparent;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .swiper-slide img {
            height: 100%;
        }
        @media (max-width: 576px) {
          .post-body {
              padding: 20px;
          }
          .swiper {
              width: 100%;
          }
          .swiper-slide img {
              width: 100%;
              height: auto;
          }
      }
      

        </style>

    {% endblock %}

{% block content %}
    <div class="post-content">
        <div class="post-title">
            <h1>{{ post.title | capitalize}}</h1></div>
        <div class="publish"> Опубліковано {{ post.author }} о {{ post.publish }}</div>
        <div class="post-body">
            {{ post.body|linebreaksbr }}
        </div>
        <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          
          {% for image in post.images.all %}
          {%if image%}
            <div class="swiper-slide"><img src="{{ image.image.url }}" alt=""></div>
            {%endif%}
            {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        lazy: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
{% endblock %}